body {
    background-color: #f9f9f7;
    padding: 20px;
  }
  
  #introDiv {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  #playbutton {
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: grey;
  }
  
  #classifierDiv {
    display: flex;
    flex-direction: column;
  }
  
  p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: gray;
  }
  
  img {
    max-width: 250px;
  }
  
  input[type="file"] {
    padding: 10px;
    background: white;
  }
  
  #result {
    color: black;
  }
  
  h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  